body{
    margin: auto;
    padding: 0;
    max-width: 1368px;
    background-color: rgb(243, 236, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

img{
    max-width: 100%;
    height: 100%;
    max height: 100%;
    margin: auto;
    
}

header{
    background-color: rgb(232, 220, 255);
    padding: 20px 0;
    margin-bottom: 30px;
}

.container{
    width: 1000px;
    margin: auto;
}

body .container nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

body .container nav i{
    font-size: 1.6em;
    color: blueviolet;
}

body .container nav .charkh{
    position: relative;
}


body .container nav .fa-plus{
    position: absolute;
    color: rgb(232, 220, 255);
    top: 2px;
    right: 6px;
    font-size: 0.8em;
}

body .container nav .count{
    position: absolute;
    background-color: brown;
    color: rgb(232, 220, 255);
    border-radius: 50%;
    width: 10px;
    height: 10px;
    padding: 5px;
    display: flex;
    align-items: center;
    right: -15px;
    top: -14px;
    font-size: 1.1em;
}

section >.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.products{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    margin-top: 50px;
} 

section >.container >.products >.item{
    background-color: white;
    border-radius: 10px;
    overflow:hidden ;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

section >.container >.products >.item>div{
    display: flex;
    justify-content: space-between;
    width: 70%;
}

section >.container >.products >.item> button{
    margin-bottom: 20px;
    background-color: thistle;
    border-radius: 5px;
    color: blueviolet;
}



.backdrop{
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0 ,0.5);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.modal{
    width: 500px;
    min-height: 200px;
    position: absolute;
    background-color: white;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    opacity: 0;
    transition: ease-in-out 0.3s;
    transform: translateY(-100vh);
    box-shadow: 0 10px 120px rgba(0, 0, 0, 0.07);
}

.cart-item{
    display: flex;
    width: 100%;
    margin-top: 30px;
    justify-content: space-around;
    align-items: center;
}

.cart-des{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.cart-des h5{
    color: gray;
    margin-top: 10px;
}
.counter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal img{
    width: 100px;
    border-radius: 15px;
}

.cart-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin-top: 40px;
    margin-bottom: 20px;
}

.cart-footer >span{
    border-radius:  5px;
    padding: 3px 10px;
}

.cart-footer span.clear-chart{
    border: 1px solid rebeccapurple;
    color: rebeccapurple;
    font-weight: bold;
    cursor: pointer;
}

.cart-footer span.confirm{
    background-color: thistle;
    color: rebeccapurple;
    font-weight: bold;
    cursor: pointer;
}

.fa-chevron-up, .fa-chevron-down, .fa-trash{
    cursor: pointer;
}